In [87]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn import preprocessing

In [88]:
sentence = pd.read_csv('./data.csv')

In [89]:
sentence

                                                 sentence         label
0       Over 90% of the world's population has access ...      question
1       The Mona Lisa is one of the most famous painti...      question
2       The human genome contains over 3 billion base ...      question
3       The average person spends 6 months of their li...      question
4       Over 90% of the world's trade is conducted thr...      question
...                                                   ...           ...
190438   Federal courts are solely creatures of the fe...  non-question
190439                More than 440 blocos operate in Rio  non-question
190440   Although they were used only for instructiona...  non-question
190441                    8% of the population, while 68.  non-question
190442  The era saw Libya's return to the internationa...  non-question

[190443 rows x 2 columns]

In [90]:
sentence['label'].value_counts()

question        117917
non-question     72526
Name: label, dtype: int64

Check if there are any NULL values

In [91]:
sentence.isnull()

        sentence  label
0          False  False
1          False  False
2          False  False
3          False  False
4          False  False
...          ...    ...
190438     False  False
190439     False  False
190440     False  False
190441     False  False
190442     False  False

[190443 rows x 2 columns]

In [92]:
sentence.isnull().sum()

sentence    0
label       0
dtype: int64

In [93]:
sentence.shape

(190443, 2)

In [94]:
sentence['label'].unique()

array(['question', 'non-question'], dtype=object)

Label Encoding

In [95]:
label_encoder=preprocessing.LabelEncoder()
sentence['label']=label_encoder.fit_transform(sentence['label'])

In [96]:
sentence['label'].unique()

array([1, 0])

In [97]:
sentence

                                                 sentence  label
0       Over 90% of the world's population has access ...      1
1       The Mona Lisa is one of the most famous painti...      1
2       The human genome contains over 3 billion base ...      1
3       The average person spends 6 months of their li...      1
4       Over 90% of the world's trade is conducted thr...      1
...                                                   ...    ...
190438   Federal courts are solely creatures of the fe...      0
190439                More than 440 blocos operate in Rio      0
190440   Although they were used only for instructiona...      0
190441                    8% of the population, while 68.      0
190442  The era saw Libya's return to the internationa...      0

[190443 rows x 2 columns]

In [98]:
X=sentence['sentence']
y=sentence['label']

In [99]:
y

0         1
1         1
2         1
3         1
4         1
         ..
190438    0
190439    0
190440    0
190441    0
190442    0
Name: label, Length: 190443, dtype: int32

In [100]:
X

0         Over 90% of the world's population has access ...
1         The Mona Lisa is one of the most famous painti...
2         The human genome contains over 3 billion base ...
3         The average person spends 6 months of their li...
4         Over 90% of the world's trade is conducted thr...
                                ...
190438     Federal courts are solely creatures of the fe...
190439                  More than 440 blocos operate in Rio
190440     Although they were used only for instructiona...
190441                      8% of the population, while 68.
190442    The era saw Libya's return to the internationa...
Name: sentence, Length: 190443, dtype: object

Split data to training and testing data

In [101]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [102]:
print(X_train.shape)
print(X_test.shape )
print(y_train.shape )
print(y_test.shape)

(152354,)
(38089,)
(152354,)
(38089,)

Feature Extraction

In [103]:
# transforming the text data to feature vectors that can be used as the input to the logistic regression model

fe = TfidfVectorizer(
    # ngram_range=(3,3), :accuracy on test data = 0.6357741080101866 
    # ngram_range=(2,3), :accuracy on test data =  0.8074509700963532, accuracy on training data : 0.8120364414455807
    ngram_range=(1,3), #:accuracy on training data :  0.959449702666159, accuracy on test data :  0.9549738769723543/ 0.9537136706135629
    # ngram_range=(1,5),  #:accuracy on training data :  0.959449702666159, accuracy on test data :  0.9550001312714957
    # ngram_range=(1,10),#:accuracy on training data :  0.9594431390052115, accuracy on test data : 0.9550526398697787 (taking a lot of time for execution)
    min_df=0.001, 
    max_df=1.0, 
    # stop_words='english', :accuracy on train data = around 71% and on test data = around 63%
    analyzer='word'
)

# Removing stop words from the corpus is decreasing the accuracy of the model...may be because words like "is","are" that carry much more importance in...
# ..world of sentences..for example "Are you going tomorrow?" and "You are going tomorrow."...except for the punctuation mark, all the words have same
# frequency, but the idea of sentence depends on the placement of the word...so removing such stop words can really affect the accuracy of the model



# fe=TfidfVectorizer(min_df=0, stop_words='english',lowercase='True')  :accuracy on train data = around 79% and on test data = around 74%

X_trfeature=fe.fit_transform(X_train)
X_ttfeature=fe.transform(X_test)

In [104]:
print(X_trfeature)

  (0, 313)	0.24146666565910066
  (0, 3425)	0.27476638282815463
  (0, 2515)	0.1519845761248697
  (0, 1379)	0.28076940048191884
  (0, 2089)	0.27024606052094374
  (0, 2085)	0.22061169314409518
  (0, 3386)	0.2603954376646806
  (0, 779)	0.23530071154577087
  (0, 1104)	0.27024606052094374
  (0, 4205)	0.10902778636974746
  (0, 3228)	0.2656714990433299
  (0, 273)	0.21289673967421244
  (0, 4242)	0.2587573545252525
  (0, 3794)	0.22105604106380672
  (0, 3301)	0.2229477043581733
  (0, 2401)	0.05862691273733102
  (0, 137)	0.2507858272409757
  (0, 3408)	0.04765417307177794
  (0, 2500)	0.11024053423849729
  (0, 1378)	0.2688570893585534
  (1, 4256)	0.14486620658548152
  (1, 242)	0.16340208329103587
  (1, 4039)	0.0854944590188917
  (1, 4255)	0.1305086497111022
  (1, 4108)	0.17453987928897782
  :	:
  (152353, 3540)	0.2840175744131951
  (152353, 1782)	0.2877973857085366
  (152353, 2301)	0.29026344157094347
  (152353, 2300)	0.2573898046409311
  (152353, 1537)	0.25236424087180587
  (152353, 1536)	0.1956442818990212
  (152353, 1910)	0.2352765464773222
  (152353, 3596)	0.1997134013971227
  (152353, 4104)	0.1691747808556573
  (152353, 1907)	0.14175292496162026
  (152353, 4100)	0.1441059449368298
  (152353, 2299)	0.17720043744719313
  (152353, 2399)	0.2663103696608836
  (152353, 2591)	0.262889627178614
  (152353, 1880)	0.09285443948061109
  (152353, 1920)	0.2356690780992073
  (152353, 1396)	0.16346136777732084
  (152353, 3670)	0.24258455021228184
  (152353, 3214)	0.19764134527421612
  (152353, 1769)	0.10809368767867833
  (152353, 4079)	0.07412606110528817
  (152353, 1690)	0.06714387758093017
  (152353, 1388)	0.10817345721602094
  (152353, 2401)	0.060834345499922046
  (152353, 3408)	0.14834537384648905

Training the model(LOGISTIC REGRESSION)

In [105]:
model=LogisticRegression(solver='lbfgs', max_iter=1000)

In [106]:
model.fit(X_trfeature,y_train)

LogisticRegression(max_iter=1000)

In [107]:
prediction=model.predict(X_trfeature)

accuracy=accuracy_score(y_train,prediction)

In [108]:
print('accuracy on training data : ',accuracy)

accuracy on training data :  0.9592396655158382

In [109]:
prediction=model.predict(X_ttfeature)

accuracy=accuracy_score(y_test,prediction)

In [110]:
print('accuracy on test data : ',accuracy)

accuracy on test data :  0.9553676914594765

Decision Tree algo

In [111]:
from sklearn.tree import DecisionTreeClassifier

In [119]:
treemodel=DecisionTreeClassifier(max_depth=1000)

In [120]:
treemodel.fit(X_trfeature,y_train)

DecisionTreeClassifier(max_depth=1000)

In [121]:
from sklearn import tree

In [122]:
tree_prediction=treemodel.predict(X_trfeature)
tree_accuracy=accuracy_score(y_train,tree_prediction)

In [123]:
print('accuracy on training data :',tree_accuracy)

accuracy on training data : 0.9999540543733673

In [124]:
tree_prediction=treemodel.predict(X_ttfeature)
tree_accuracy=accuracy_score(y_test,tree_prediction)

In [125]:
print('accuracy on testing data :',tree_accuracy)

accuracy on testing data : 0.9429231536664129